<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <title>ERROR</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='userstyle.css') }}">
    </head>
    <body>
    	<p>Error in registration form. Please follow the link to try again!
    		<br>
    	<a  href="{{ url_for('.create_user') }}">
<img src="https://v1.std3.ru/b9/d9/1452813374-b9d9a9e779147cd26a2f495f4f9c7be5.jpeg" width="200" height="200"><br>Create User</a>

    </body>
</html>
